* {
     font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
     font-weight: normal;
}

.center, .center img {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.legal {
    font-size: 10px;
    line-height: 10px;
}

.header {
    font-family: "Open Sans", sans-serif;
    margin: 1em;
}

.margintop {
    margin-top: 4em;
}

.ulnavigation {
    margin: 0 auto;
    display: block;
}
.ulnavigation li {
    display: inline;
    margin-right: 1em;
}

.ulnavigation li:last-child {
    margin-right: 0;
}

.cta {
    color: #90F !important;
}

.cta:hover {
    text-decoration: none;
}

.cta:visited {
    color: #800080 !important;
}
